In [1]:
for alyssa in range(11):
    print(alyssa)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
for alyssa in range(11):
    for ben in range(11):
        for cindy in range(11): # 10*10*10
            total = (alyssa+ben+cindy == 10)
            two_less = (ben == alyssa - 2)
            twice = (cindy == 2*alyssa)
            if total and two_less and twice:
                print(f'Alyssa sold {alyssa} tickets')
                print(f'ben sold {ben} tickets')
                print(f'cindy sold {cindy} tickets')

Alyssa sold 3 tickets
ben sold 1 tickets
cindy sold 6 tickets

The above code will be very slow, as 1000 times

In [3]:
for alyssa in range(1001):
            ben = max(alyssa - 20,0)
            cindy = alyssa * 2
            if ben + cindy + alyssa == 1000:
                print(f'Alyssa sold {alyssa} tickets')
                print(f'ben sold {ben} tickets')
                print(f'cindy sold {cindy} tickets')

Alyssa sold 255 tickets
ben sold 235 tickets
cindy sold 510 tickets

#### Floats

In [5]:
x = 0
for i in range(10):
    x += 0.1
print(x)
print(x==1)
print(x, '==', 10*0.1)

0.9999999999999999
False
0.9999999999999999 == 1.0

### To binary

In [7]:
num = 1507

result = ''
if num == 0:
    result = '0'
while num > 0:
    result = str(num%2)+result
    num = num //2
print(result)

10111100011